html,body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#start{
    position:fixed;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    
    visibility: visible;
    background-image: linear-gradient( 89.7deg,  rgba(0,32,95,1) 2.8%, rgba(132,53,142,1) 97.8% );  
    font-size: 3vh;

}

#start > h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    visibility: visible;
}

#border{
    position:fixed;

    top:0;
    left:0;

    width:  100%;
    height: 100%;
    background-image: linear-gradient( 89.7deg,  rgba(0,32,95,1) 2.8%, rgba(132,53,142,1) 97.8% );
    visibility: hidden;
}
 
#brickfield{
    position: absolute;
    top: 15.22vh;

    padding: 0 30.44vh;

}
.brick{
    position: relative;
    display: inline-block;
    margin: 0.146vw 0.30vh;
    width: 6.295vw;
    height: 4.566vh;
    float: left;
    background-color: peru;
    z-index: 2;
    
}

.ball{
    position: absolute;
    border-radius: 50%;
    width: 1.098vw;
    height:  2.28vh;
    background-color: springgreen;
    box-shadow: 0px 0px 20px 3px white;
}

#paddle{
    position: absolute;
    top: 91.324vh;
    width: 7.3206vw;
    height: 2.435vh;
    background: peru;   
    border-radius: 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 90px white;
}

#HUD > h1{
    display: inline-block;
    margin: 1.464vw 4.566vh;
}

#Lives{
    float:center;
}

#Lives{
    float: right;
}


#gos{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    text-align: center;
    width: 11.713vw;
    height: 22.983vh;
    padding: 1.464vw 7.61vh;
    background-color:rgba(0, 0, 0, 0.85);
    z-index: 100;
}

#powerUp > div{
    position: absolute;
    margin: 0 auto;
    width: 5.49vw;
    height: 4.566vh;
    background-color: lime;
    color: darkred;
    font-weight: bold;
    font-size: 2.1308vh;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 4.566vh;
    z-index: 1;
    
}